.msc10-espiritualidad
  padding: 40px
  .titulo-espiritualidad
    @include tituloafter($m-azul,$m-rojo)
  .contenido-espiritualidad
    display: flex
    flex-flow: row wrap
    box-sizing: border-box
    justify-content: center
    .c-e
      flex-basis: calc(var(--sizem)/3)
      width: calc(var(--sizem)/3)
      text-align: center
      box-sizing: border-box
      background-color: green
      .enlace
        background-color: magenta
        padding: 5px
